[Unit]
Description=etcd
After=network-online.target tinc@default.service

[Service]
Type=notify
TimeoutStartSec=0
EnvironmentFile=/etc/environment.tf
EnvironmentFile=/etc/environment.calc
ExecStart=/usr/bin/etcd --name master${INDEX} \
  --data-dir /var/lib/etcd \
  \
  --listen-client-urls "https://${IP_INT}:2379,https://localhost:2379" \
  --advertise-client-urls "https://${IP_INT}:2379" \
  --client-cert-auth \
  --cert-file /etc/ssl/server.pem \
  --key-file /etc/ssl/server-key.pem \
  --trusted-ca-file /etc/ssl/5pi-ca.pem \
  \
  --listen-peer-urls "https://${IP_INT}:2380" \
  --peer-client-cert-auth \
  --peer-cert-file /etc/ssl/server.pem \
  --peer-key-file /etc/ssl/server-key.pem \
  --peer-trusted-ca-file /etc/ssl/5pi-ca.pem \
  \
  --heartbeat-interval 200 \
  --election-timeout 5000 \
  $ETCD_OPTS
ExecStop=/usr/bin/etcdctl \
  --ca-file /etc/ssl/5pi-ca.pem \
  --cert-file /etc/ssl/server.pem \
  --key-file /etc/ssl/server-key.pem \
  member remove %H
Restart=always
StartLimitInterval=0

[Install]
WantedBy=multi-user.target
