[Unit]
Description=Kubernetes Controller Manager
Documentation=https://github.com/GoogleCloudPlatform/kubernetes
After=tinc@default.service k8s-apiserver.service

[Service]
EnvironmentFile=/etc/environment.calc
User=k8s
ExecStart=/usr/bin/hyperkube controller-manager \
  --address ${IP_INT} \
  --service-account-private-key-file /etc/kubernetes/serviceaccount.key \
  --root-ca-file /etc/ssl/5pi-ca.pem \
  --leader-elect \
  --master http://localhost:8080
Restart=on-failure
# Type=notify # hyperkube seems not to signal
LimitNOFILE=65536

[Install]
WantedBy=multi-user.target
