[Unit]
Description=Kubernetes API Server
Documentation=https://github.com/GoogleCloudPlatform/kubernetes
After=network.target tinc@default.service etcd.service cloud-final.service
Requires=etcd.service

[Service]
EnvironmentFile=/etc/environment.tf
EnvironmentFile=/etc/environment.calc
User=k8s
ExecStart=/usr/bin/hyperkube apiserver \
  --bind-address=${IP_INT} \
  --etcd-servers https://master1:2379,https://master2:2379,https://master3:2379 \
  --service-cluster-ip-range 10.10.10.0/24 \
  --apiserver-count $SERVERS \
  --tls-cert-file /etc/ssl/server.pem \
  --tls-private-key-file /etc/ssl/server-key.pem \
  --client-ca-file /etc/ssl/5pi-ca.pem \
  --etcd-cafile /etc/ssl/5pi-ca.pem \
  --etcd-certfile /etc/ssl/server.pem \
  --etcd-keyfile /etc/ssl/server-key.pem \
  --cert-dir /etc/kubernetes \
  --service-account-key-file /etc/kubernetes/serviceaccount.key \
  --admission-control NamespaceLifecycle,LimitRanger,ServiceAccount,ResourceQuota
Restart=on-failure
Type=notify
LimitNOFILE=65536

[Install]
WantedBy=multi-user.target
